# ecoreader settings
user =
password =
url = jdbc:mysql://localhost/ecoreader
class = com.mysql.jdbc.Driver

# path to mods files
mods_dir = docs/mvz/mods

# raw content github repo url
repo_url = https://raw.githubusercontent.com/BNHM/ecoreader/

# the path where we find images.
imageFilePath = /path/to/images
